/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*styles*/

body {
	font-family: 'Alegreya', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

.wrapper {
	width: 700px;
	margin: 27px auto;
}

header, section {
	position: relative;
}

main {
	margin-top: -4px;
}

.info {
	margin-top: 2em;
	border-top: 1px solid #000;
	width: 60%;
	/*margin-left: 1em;*/
}

.series li {
	font-family: 'Alegreya Sans', sans-serif;
	line-height: calc(0.1875 * 5);
	display: inline;
	margin-right: 14px;
}

/*Typography*/


h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 21px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.2857;
	letter-spacing: 2px;
	/*padding-bottom: 10px;*/
	border-bottom: 4px double #000;
	margin-bottom: 27px;
}

h2 {
	font-family: 'Alegreya', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 0.84375;
	margin-top: 38px;
	margin-bottom: 16px;
	margin-left: -1em;
}

h3 {
	font-family: 'Alegreya SC', serif;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 2px;
	margin-top: 13px;
	margin-bottom: 13px;
}

/*h5 {
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 1.444;
	margin-bottom: 1em;
}*/

p {
	/*margin-bottom: 0.5em;*/
}

p+p {
	text-indent: 1em;
}

code {
	font-family: monospace;
	color: #000;
	background-color: #eee;
	padding: 2px 4px 3px; 
}

em {
	font-style: italic;
}

.large-type {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -1px;
	margin: 0px 0px 17px;
	text-align: center;
	text-indent: 0;
}

.sm {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #c9082b;
	position: absolute;
	top: 50%;
	left: 103%;
	transform: translateY(-50%);
	margin: 0;
	width: 18%;
	text-indent: 0;
}

.sm>a {
	color: #c9082b;
	text-decoration: none;
	border-bottom: 1px solid #c9082b;
}

.sc {
	font-family: 'Alegreya SC', serif;
	letter-spacing: 2px;
}

.uc {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.no-l-s {
	letter-spacing: normal;
}

.no-indt {
	text-indent: 0;
}

.red {
	color: #c9082b;
}

.justified {
	text-align: justify;
}

.default {
	font-size: 16px;
	line-height: 1.6875;
	margin: 13.5px 0;
}

.one {
	font-size: 1px;
}

.two {
	font-size: 2px;
}

.three {
	font-size: 3px;
}

.five {
	font-size: 5px;
}

.eight {
	font-size: 8px;
}

.ten {
	font-size: 10px;
}

.eleven {
	font-size: 11px;
}

.twelve {
	font-size: 12px;
}

.thirteen {
	font-size: 13px;
}

.fourteen {
	font-size: 14px;
}

.sixteen {
	font-size: 16px;
}

.eighteen {
	font-size: 18px;
}

.twentyone {
	font-size: 21px;
}

.twentyfour {
	font-size: 24px;
}

.thirty {
	font-size: 30px;
}

.thirtyfour {
	font-size: 34px;
}

.thirtysix {
	font-size: 36px;
}

.fortyeight {
	font-size: 48px;
}

.fiftyfive {
	font-size: 55px;
}

.sixty {
	font-size: 60px;
}

.seventytwo {
	font-size: 72px;
}

.eightynine {
	font-size: 89px;
}

.onefortyfour {
	font-size: 144px;
}






