/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*styles*/

:root {
	--red: #CC2A00;
	--hover: #a1a0a0;
	}

body {
	font-family: 'Alegreya', serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fafafa;
}

.wrapper {
	width: 860px;
	margin: 30px auto;
}

.cover {
	display: block;
	margin-bottom: 60px;
}

header {
	/*border-bottom: 4px double #ccc;*/
	margin-bottom: 30px;
	/*text-align: center;*/
}

.content {
	border-top: 1px solid transparent;
	/*list-style-type: decimal;*/
	/*margin-top: -1px;*/
}

.content>li {
	position: relative;
	counter-increment: step-counter;
}

.content>li::before {
	content: counter(step-counter);
	margin-left: -20px;
	font-weight: 700;
	float: left;
}

main {
	width: 700px;
	padding-left: 1em;
	/*margin-top: 60px;*/
}

.footer {
	margin-top: 30px;
	border-top: 1px solid #000;
	width: 60%;
	padding-top: 6px;
	/*margin-left: 1em;*/
}

.series li {
	font-family: 'Alegreya Sans', sans-serif;
	line-height: calc(0.20833333 * 5);
	display: inline;
	margin-right: 14px;
}

.illustration {
	margin: 30px 0 30px;
	display: block;
}

/*Typography*/


h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 28px;
	font-weight: 400;
	/*color: var(--red);*/
	text-transform: uppercase;
	line-height: 1.07142857;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Alegreya', serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 50px;
	margin-bottom: 10px;
	/*margin-left: -20px;*/
}


h3 {
	font-family: 'Alegreya SC', serif;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.1em;
	margin-top: 15px;
	margin-bottom: 15px;
}

h4 {
	font-family: 'Alegreya Sans', serif;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 1px;
	text-transform: uppercase;
	/*margin-top: 8px;
	margin-bottom: 8px;*/
}

p {
	/*margin-bottom: 0.5em;*/
}

p+p {
	text-indent: 1em;
}

.intro {
	position: relative;
	font-size: 24px;
	line-height: 1.25;
	/*margin-bottom: 30px;*/
}

.intro::first-letter {
	font-size: 116px;
	float: left;
	line-height: 0.75;
	margin-right: 0.05em;
}

a {
	font-family: 'Alegreya Sans', sans-serif;
    color: #000;
    /*font-weight: 700;*/
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

a::after {
	content: "\2724";
	font-size: 0.6em;
	vertical-align: top;
}

a:hover {
	color: var(--hover);
}

code {
	font-family: monospace;
	color: #000;
	/*background-color: #eee;*/
	padding: 2px 4px 3px; 
}

em {
	font-style: italic;
}

.large-type {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 56px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -1px;
	margin: 17px 0;
	/*text-align: center;*/
	text-indent: 0;
}

.sm {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 15px;
	line-height: 1.35;
	color: var(--red);
	position: absolute;
	top: 50%;
	left: 102%;
	transform: translateY(-50%);
	margin: 0;
	width: 18%;
	text-indent: 0;
}

.sm>a {
	color: var(--red);
	text-decoration: none;
	/*border-bottom: 1px solid #c9082b;*/
}

.sm>a:hover {
	border-bottom: none;
	color: var(--hover);
}

.sc {
	font-family: 'Alegreya SC', serif;
	letter-spacing: 0.10em;
}

.uc {
	text-transform: uppercase;
	letter-spacing: 0.10em;
}

.no-l-s {
	letter-spacing: normal;
}

.no-indt {
	text-indent: 0;
}

.red {
	color: rgb(239, 65, 54);
}

.justified {
	text-align: justify;
}

.default {
	font-size: 16px;
	line-height: 1.875;
	margin: 15px 0;
}

.no-my {
	margin-top: 0;
	margin-bottom: 0; 
}

.one {
	font-size: 1px;
}

.two {
	font-size: 2px;
}

.three {
	font-size: 3px;
}

.five {
	font-size: 5px;
}

.eight {
	font-size: 8px;
}

.ten {
	font-size: 10px;
}

.eleven {
	font-size: 11px;
}

.twelve {
	font-size: 12px;
}

.thirteen {
	font-size: 13px;
}

.fourteen {
	font-size: 14px;
}

.sixteen {
	font-size: 16px;
}

.eighteen {
	font-size: 18px;
}

.twentyone {
	font-size: 21px;
}

.twentyfour {
	font-size: 24px;
}

.thirty {
	font-size: 30px;
}

.thirtyfour {
	font-size: 34px;
}

.thirtysix {
	font-size: 36px;
}

.fortyeight {
	font-size: 48px;
}

.fiftyfive {
	font-size: 55px;
}

.sixty {
	font-size: 60px;
}

.seventytwo {
	font-size: 72px;
}

.eightynine {
	font-size: 89px;
}

.onefortyfour {
	font-size: 144px;
}

.footer ol {
	font-size: 16px;
	list-style-type: decimal;
	line-height: 1.4;
}






